* {
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  background-color: #1e1e1c;
  font-family: "Karla", sans-serif;
  font-size: 0.8em;
  color: #fff9e8;
}

ul {
  padding: 0;
  list-style: none;
}

h4 {
  font-size: 1.2em;
}

hr {
  background-color: #9d9d9b;
  width: 90%;
}

input {
  background-color: #1e1e1c;
  border: 1px solid #6b6b69;
}

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 1.8em;
  margin-left: 2%;
  color: #fff9e8;
}

.navbar {
  background-color: #1e1e1c;
  color: #fff9e8;
}

.App-header {
  color: #2f4b13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ce2430;
}

.appContainer {
  display: block;
  margin: auto;
}

.citySearchLabel {
  padding-top: 20px;
  padding-bottom: 15px;
}

.CitySearch {
  margin: auto;
}

.city {
  color: #9d9d9b;
  padding-right: 3%;
  background-image: url(./icons/search.svg);
  background-repeat: no-repeat;
  background-position: 0.6em;
  padding-left: 5%;
}

.all-text {
  padding-left: 30%;
}

.numberOfEvents {
  width: 100%;
  text-align: right;
  /* margin-top: 3%; */
  padding-right: 27.5%;
  color: #9d9d9b;
}

.number {
  color: #9d9d9b;
  padding-left: 1%;
}

.chart-label {
  text-align: left;
  padding-left: 5%;
  font-size: 1.5em;
}

.tech-container {
  background-color: #232321;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: auto;
  border-radius: 5px;
  box-shadow: -2px 3px 3px 3px #191917;
}

.rechart-legends-icon {
  display: none;
}

.city-container {
  background-color: #232321;
  margin: 5%;
  box-shadow: -2px 3px 3px 3px #191917;
}

.outerEventContainer {
  background-color: #232321;
  margin-top: 6.75%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: -2px 3px 3px 3px #191917;
}

.eventContainer {
  background-color: #1e1e1c;
  padding: 5px;
  margin-top: 5%;
  width: 90%;
}

.eventCard {
  margin-left: 3%;
  padding: 30px 10px 0px 10px;
  text-align: left;
  border-radius: 4px;
  line-height: 1em;
}

.eventCardName {
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  color: #fff9e8;
}

.eventCardDate {
  margin-top: 1em;
}

.eventCardLocation {
  background-image: url(./icons/map-pin.svg);
  background-repeat: no-repeat;
  background-position-y: 40%;
  padding-left: 5%;
}

.detailModal {
  background-color: #fff9e8;
  color: #6b6b69;
  font-family: "Karla", sans-serif;
}

.eventCardDesc {
  text-align: center;
}

.eventCardLink {
  width: 100px;
  display: inline-block;
}

.detailsButton {
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: #232321;
  border-color: #232321;
  padding: 5px 10px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 90%;
  font-size: 1em;
}

.linkButton {
  align-items: center;
  margin-left: 5%;
  background-color: #232321;
  border-color: #232321;
  padding: 5px 10px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 90%;
}

.closeButton {
  text-align: center;
  background-color: #232321;
  border-color: #232321;
  padding: 5px 10px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 20%;
}

.detailsButton:hover
  .detailsButton:active
  .detailsButton:focus
  .detailsButton:focus-visible
  .closeButton:hover
  .closeButton:active
  .closeButton:focus {
  background-color: #ce2430;
  border-color: #ce2430;
  font-family: "Karla", sans-serif;
}

@media (max-width: 991.98px) {
  .outerEventContainer {
    margin-left: 7.5%;
    max-width: 95%;
  }
}

@media (max-width: 767.98px) {
  .city {
    padding-left: 10%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
