* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  background-color: #232321;
  font-family: "Karla", sans-serif;
  color: #fff9e8;
}

ul {
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 1.8em;
  margin-left: 2%;
  color: #fff9e8;
}

.navbar {
  background-color: #232321;
  color:#fff9e8
}

.App-header {
  color: #2f4b13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ce2430;
}

.city-search-label {
  padding-bottom: 15px;
}

.CitySearch {
  margin: auto;
  margin-bottom: 3%;
}

.city {
  background-image: url(./icons/search.svg);
  background-repeat: no-repeat;
  background-position: .5em;
}

::placeholder {
  padding-left: 30px;
}

.all-text {
  padding-left: 30px;
}

.appContainer {
  margin-left: 5%;
  margin-right: 10%;
}

.tech-container {

}

.event-container {
  align-content: center;

}

.eventCard {
  background-color: #1E1E1C;
  align-content: center;
  padding: 10px 10px 35px;
  width: 80%;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 4px;
  position: relative;
}

.eventCardName {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  color: #fff9e8;
}

.details-btn {
  margin: 0;
  position: absolute;
  bottom: 20px;
  padding: 5px 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 80%;
}

.NumberOfEvents {
  width: 300px;
  /* margin: 1em auto; */
  align: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
