* {
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  background-color: #1e1e1c;
  font-family: "Karla", sans-serif;
  color: #fff9e8;
}

ul {
  padding: 0;
  list-style: none;
}

h4 {
  font-size: 1.2em;
}

input {
  background-color: #1e1e1c;
  border: 1px solid #6B6B69;
}

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 1.8em;
  margin-left: 2%;
  color: #fff9e8;
}

.navbar {
  background-color: #1e1e1c;
  color: #fff9e8;
}

.App-header {
  color: #2f4b13;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ce2430;
}

.appContainer {
  display: block;
  margin: auto;
}

.city-search-label {
  padding-bottom: 15px;
}

.CitySearch {
  margin: auto;
  margin-bottom: 3%;
}

.city {
  background-image: url(./icons/search.svg);
  background-repeat: no-repeat;
  background-position: 0.6em;
  color: #9D9D9B;
  padding-right: 3%;
}

::placeholder {
  padding-left: 6%;
}

.all-text {
  padding-left: 30px;
}

.numberOfEvents {
  width: 100%;
  text-align: right;
  margin-top: 3%;
  padding-right: 27.5%;
  color: #9D9D9B;
}

.number {
  color: #9D9D9B;
  padding-left: 1%;
}

.chart-label {
  text-align: left;
  padding-left: 5%;
}

.tech-container {
  background-color: #232321;
  margin-top: 10.7%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: auto;
}

.rechart-legends-icon {
  display: none;
}

.city-container {
  background-color: #232321;
  margin: 5%;
}

.outerEventContainer {
  background-color: #232321;
  margin-top: 10%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.eventContainer {
  background-color: #1e1e1c;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  width: 90%;
}

.eventCard {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 4px;
  position: relative;
  margin-top: 10%;
}

.eventCardName {
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  color: #fff9e8;
}

.detailsButton {
  margin-left: 10%;
  margin-top: 5%;
  background-color: #232321;
  border-color: #232321;
  padding: 5px 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 80%;
  font-family: "Karla", sans-serif;
}

.detailsButton:hover .detailsButton:active {
  background-color: #CE2430;
  border-color: #CE2430;
  font-family: "Karla", sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
